<% Data.forEach((item)=>{%>
<div class="max-w-sm rounded overflow-hidden shadow-lg">
  <img class="w-full max-h-40 object-contain  bg-black"  src="<%=item.ImageLink %>" alt="Book Cover" onerror="this.onerror = null; this.src='./fall_back_cover.jpeg'"/>
  <div class="px-3 py-2">
    <div class="font-bold text-xl mb-2 overflow-hidden text-ellipsis"><%= item.Name %></div>
    <p class="text-gray-700 text-base text-ellipsis">Author: <%= item.Author %></p>
    <p class="text-gray-700 text-base text-ellipsis">Subject: <%= item.Aubject %></p>
    <p class="text-gray-700 text-base text-ellipsis">Publisher: <%= item.Publisher %></p>
  </div>
</div>
<%})%>